@charset "utf-8";

body,html{
	font-size: 62.5%;
	max-width: 640px;
	position: relative;
	/*overflow: hidden;*/
	height: 100%;
	font-family: Arial,"Microsoft YaHei";
}
body,html,p,ul,li,h1,h2,h3,h4,i,em,a{
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	box-sizing: border-box;
}

ul{
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
a{
	display: block;
	text-decoration: none;
	color: inherit;
}
.fn-clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }


.font-weight{
	font-weight: bold;
}
.text-align{
	text-align: center;
}


.container{
	background: url(../img/yage_bg.jpg)  no-repeat;
	background-size: 100% 100%;
	width: 100%;
	padding-bottom: 2rem;
	color: #fff;
}
.hide{
	display: none !important;
}

 /*第一部分 */
.yage_logo{
	width: 30%;
	padding-top: 2.5rem;
	margin-left: 8%;
	text-align: 
}

.banner_car{
	margin-top: 48%;
}

/*第二部分*/
.user_number{
	margin: 120% auto 0 auto;
	/*width:90%;*/
	text-align: center;

}
.user_number img{
	width: 55%;
	margin: auto;
}
.user_number_p {
	font-size: 1.6rem;
	text-shadow: 0.4rem 0.2rem 0.5rem #000;
	font-weight: bold;
	margin-top: 2rem;
}
.user_number_p p{
	margin-bottom: 0.5rem;
}

/*第三部分*/
.video{
	margin-top: 2rem;
    background: url(../img/video_iframe.png) no-repeat;
    background-size: 100%;
    margin: 6% 8% 6%;
    position: relative;
    display: inline-block;
    height: 26rem;
    width: 84%;
}
.video .video_img{
	width: 95%;
    margin: 4.2% 2% 7%;
    display: inline-block;
}
.video .video_p{
	position: absolute;
    top: 35%;
    left: 42%;
    width: 16%;
    z-index: 2;
}
.video .m_video{
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 9%;
    left: 1.5%;
    width: 93%;
    margin: 0 2% 7%;
    overflow: hidden;
}
.video .m_video video{
	width: 100%;
	height: 71%;
}
.video .circle_p{
	position: absolute;
	width: 40%;
	right: 2rem;
	bottom: -6rem;
}

/*第四部分*/
.activity_introduction{
	
}
.img_head{
	width: 40%;
	margin: auto;
}
.act_intr_icon{
	padding-left:9%;
	margin-top: -13%; 
}
.activity_introduction .act_intr_head{
	font-size: 3rem;
	color: #f10536;
	font-weight: bold;
	margin-top: 1rem;
	padding: 0 5% 0 9%;
	/*width: 82%;*/
	line-height: 100%;
}
.activity_introduction .act_intr_head p{
	position: relative;
}
.activity_introduction .act_intr_head p:first-child{
	font-size: 3.5rem;
	background: url(../img/star1.png) -14% -18% no-repeat;
    background-size: 46% 72%;
    padding-top: 2rem;
}
.activity_introduction .act_intr_head p:last-child{
	background: url(../img/star2.png) 25% 108% no-repeat;
    background-size: 62% 87%;
    padding-bottom: 2rem;
}
.activity_introduction .act_intr_head i{
	background: url(../img/yinhao2.png) no-repeat;
	background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    -webkit-transform: translateX(-130%);
	-moz-transform: translateX(-130%);
	-ms-transform: translateX(-130%);
	-o-transform: translateX(-130%);
	transform: translateX(-130%);
}
.activity_introduction .act_intr_head em{
	background: url(../img/yinhao1.png) no-repeat;
	background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
   /* -webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);*/
}
.activity_introduction .act_intr_p1,.act_intr_p2{
	font-size: 1.6rem;
	margin-top: 3rem;
	padding: 0 5% 2rem 9%;
	margin:auto; 
	position: relative;
}
.activity_introduction .act_intr_p2 em{
	background:url(../img/right_arrow1.png) center no-repeat;
	background-size: contain;
	height: 1.5rem;
	width: 1.5rem;
	position: absolute;
	-webkit-transform: translateX(-130%);
	-moz-transform: translateX(-130%);
	-ms-transform: translateX(-130%);
	-o-transform: translateX(-130%);
	transform: translateX(-130%);
}
.activity_introduction .act_intr_p2 i{
	background:url(../img/icon_top1.png) center no-repeat;
	background-size: contain;
	height: 2rem;
	width: 2rem;
	position: absolute;
	top: -0.4rem;
}
.activity_introduction .act_intr_p2 span{
	color: #f10536;
	font-weight: bold;
}
.activity_introduction .act_intr_p2 .bottom_border{
	border-bottom: 1px solid #fff;
}

/*第五部分*/
.activity_time {
	/*margin-top: 3rem;*/
	background:url(../img/icon_iframe1.png) no-repeat;
	background-size: 100% 100%;
	/*height: 22rem;*/
}
.act_time_iframe{
	
	width: 82%;
	margin: auto;
	text-align: center;
	font-size: 1.4rem;
	padding-top: 5.5rem;
	padding-bottom: 3rem;
}
.act_t_head{
	font-size: 1.8rem;
	color: #ff2734;
	margin-top: -1.5rem;
}
.content_p{
	padding-bottom: 2.8rem;
}

/*第六部分*/
.intelligent_mission{
	font-size: 1.3rem;
}
.intelligent_mission p{
	margin-bottom: 0.5rem;
	text-align: center;
}
.intelligent_mission p:last-child{
	margin-top: 0.5rem;
}
.intelligent_mission img{
	width: 50%;
    margin: 2.5rem auto 0 auto;
}
.intelligent_mission ul{
	width: 80%;
    padding-left: 0.5rem;
    text-align: center;
    margin-left: 20%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.intelligent_mission ul:after{
	clear: both;
	content:" ";
	font-size: 0;
	display: block;
}
.intelligent_mission li{
	float: left;
	/*width: 16%;*/
	padding-left:4%;
	background:url(../img/icon1.png) left no-repeat;
	background-size: contain;
	margin-right: 2%;
}




/*第七部分*/
.participate_way{
	margin-top: 2rem;
}
.pw_head{
	text-align: center;
	font-size: 2rem;
	position: relative;
	line-height: 2rem;
	margin: auto;
}
.pw_head i{
	background: url(../img/left_arrow.png) left no-repeat;
	background-size: 70% 70%;
	width: 2rem;
	height: 2rem;
	position: absolute;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.pw_head h3{
	position: relative;
}
.pw_head em{
	background: url(../img/right_arrow.png) right no-repeat;
	background-size: 70% 70%;
	width: 2rem;
	height: 2rem;
	position: absolute;

}
.pw_head:after{
	clear: both;
	content:" ";
	font-size: 0;
	display: block;
}


.particate_step{
	/*width: 99%;*/
	margin: 1rem auto 0 auto;
	position: relative;
}
.particate_step .act_icon5{
	height: 24rem;
	margin: auto;
	/*width: 3%;*/
}
.particate_step h4 span{
	color: #ff0000;
	font-size: 2rem;
	padding-right: 0.4rem;
}
.particate_step h4{
	font-size: 1.25rem;
}
.particate_step .public_style{
	position: absolute;
	border-bottom: 1px solid #fff;
	line-height: 2.3rem;
}
.particate_step .step1{
	right: 50.6%;
	top: 2.9rem;
	padding-right: 0.5rem;
	padding-left: 2rem;
}
.particate_step .step2{
	left: 50.6%;
	top: 6.5rem;
	/*padding-right: 0.5rem;*/
	padding-left: 2.5rem;
}
.particate_step .step2 p{
	bottom: -2.5rem;
	font-size: 1.1rem;
}
.particate_step .step3{
	right: 50.6%;
	top: 10rem;
	padding-right: 5%;
	padding-left: 9%;
}
.particate_step .step3 p{
	/*bottom: -4rem;*/
	bottom: -3.9rem;
	margin-left: -2rem;
    padding-right: 5%;
    font-size: 1.1rem;
}
.particate_step .step4{
	left: 50.6%;
	top: 15rem;
	padding-right: 3.5rem;
	padding-left: 2.5rem;
}
.particate_step .step4 p{
	bottom: -2.8rem;
    font-size: 1.1rem;
}

.particate_step .public_style div{
	position: relative;
}
.particate_step .icon_circle{
	background: url(../img/act_icon6.png) bottom no-repeat;
	background-size: contain; 
	height: 0.7rem;
	width: 0.7rem;
	position: absolute;
	bottom: 0;
	left: -0.35rem;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}
.particate_step .icon_right{
	background: url(../img/act_icon6.png) bottom no-repeat;
	background-size: contain; 
	height: 0.7rem;
	width: 0.7rem;
	position: absolute;
	bottom: 0;
	right: -0.35rem;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}
.particate_step .icon_common{
	width: 2rem;
	height: 2rem;
	line-height: 2.3rem;
	position: absolute;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.particate_step .icon_step1{
	background: url(../img/act_icon3.png) bottom no-repeat;
	background-size: 80% 80%;
}
.particate_step .icon_step2{
	background: url(../img/act_icon2.png) bottom no-repeat;
	background-size: 80% 80%;
}
.particate_step .icon_step3{
	background: url(../img/act_icon4.png) bottom no-repeat;
	background-size: 80% 80%;
}
.particate_step .icon_step4{
	background: url(../img/act_icon1.png) bottom no-repeat;
	background-size: 80% 80%;
}
.particate_step p{
	position: absolute;
	line-height: 100%;
	bottom: -2.5rem;
	color: #c9c9c9;
}
.particate_step{
	position: relative;
}
.particate_part {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%,90%);
	-moz-transform: translate(-50%,90%);
	-ms-transform: translate(-50%,90%);
	-o-transform: translate(-50%,90%);
	transform: translate(-50%,90%);
}
.particate_part .btn_part{
	text-align: center;
	font-size: 1.5rem;
	color: #0f171f;
	/*line-height: 4rem;*/
	width: 11rem;
    /*height: 3rem;*/
    line-height: 3rem;
	margin: auto;
	position: relative;
	z-index: 2;
}
.particate_part img{
	position: absolute;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: -1;
}
/*第八部分*/
.sign_up {
	margin-top: 23rem;
	padding-bottom: 3rem;
}
.liuzi{
	background: url(../img/imfo_iframe.png) no-repeat;
	background-size: 100%;
	font-size: 1.3rem;
	position: relative;
	margin-top: 3rem;
	padding-bottom: 12rem;
    /*margin-bottom: 6rem;*/
}
.liuzi .liuzi_name{
	position: relative;
	padding-top: 12%;
}
.liuzi .liuzi_name .input_sex{
	position: absolute;
    opacity: 0;
    cursor: pointer;
}
.liuzi .liuzi_name .input_sex input[type="radio"]{
	width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;
}
.liuzi .liuzi_name i{
	background: url(../img/imfo_icon1.png) center no-repeat;
	background-size: 1.5rem;
	position: absolute;
	bottom: 0;
	left: 5%;
	height: 2.5rem;
	width: 2.5rem;
}
.liuzi .liuzi_name em{
	height: 2.5rem;
	width: 2.5rem;
}
.liuzi .liuzi_name .man_icon{
	background: url(../img/imfo_icon6.png) center no-repeat;
	background-size: 1.5rem;
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.liuzi_name .woman_icon{
	background: url(../img/imfo_icon7.png) center no-repeat;
	background-size: 1.5rem;
	position: absolute;
	bottom: 0;
}
.liuzi .liuzi_name span{
	padding-left: 8%;
}
.liuzi .liuzi_icon{
	width: 2.5rem;
    height: 2.5rem;
}
.liuzi .imfo_icon2{
	background: url(../img/imfo_icon2.png) center no-repeat;
	background-size: 1rem;
	position: absolute;
	left: 5%;
}
.liuzi .imfo_icon3{
	background: url(../img/imfo_icon3.png) center no-repeat;
	background-size: 1.5rem;
	position: absolute;
	left: 5%;
}
.liuzi .imfo_icon4{
	background: url(../img/imfo_icon4.png) center no-repeat;
	background-size: 1.5rem;
	position: absolute;
	left: -15%;
	bottom: 0;
}

.liuzi .liuzi_name img{
	display: inline;
    height: 1.8rem;
    position: relative;
    bottom: -0.5rem;
    padding:0 1rem;
}
.liuzi .input_name{
	width: 34%;
	margin-left: 16%;
}
.liuzi input{
	background: rgba(0,0,0,0);
	border: 1px solid #fff;
	color: #fff;
	height: 2.5rem;
	text-align: center;
	font-size: 1.3rem;
	border-radius: 0;
}
.liuzi input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #fff; 
} 
.liuzi input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #fff; 
} 
.liuzi input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #fff; 
} 
.liuzi input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #fff; 
}

.liuzi_tel{
	margin: 1.5rem 0 1.5rem 16%;
}
.liuzi_tel .input_tel{
	width: 90%;
}
.simulateSelect{
	position: relative;
	border: 1px solid #fff;
	/*font-size: 0.75rem;*/
	box-sizing: border-box;
	margin-bottom: 1.5rem;
	/*margin-left: 16%;*/
	width: 36%;
	/*margin-right: 2%;*/
}
.simulateSelect:after{
	content: "";
	width: 0.5rem;
	height: 0.5rem;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	right: 0.8rem;
	top: 45%;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}
.magin_left{
	margin-left: 16%;
}

.float_right{
	float: right;
	margin-right: 8%;
}
.float_left{
	float: left;
}
/*.simulateSelect::after{
	clear: both;
	content:" ";
	font-size: 0;
	display: block;
}*/
.simulateSelect select,
.simulateSelect input{
	background: none;
	border: none;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 2.5rem;
	padding-left: 1rem;
	box-sizing: border-box;
	font-size: 1.3rem;
}
.simulateSelect select{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 0;
}
.liuzi_shop_ad {
	margin: 0 0 0 16%;
	/*width: 100%;*/
	position: relative;
	display: inline-block;
	width:76%;
}
.liuzi_shop_ad p{

	font-size: 1.3rem;
	padding-left: 0.5rem;
}
.liuzi_shop{
	margin: 0 0 1.5rem 16%;
	/*width: 100%;*/
	position: relative;
	display: inline-block;
	width:76%;
}
.sign_up .liuzi_shop input{
	/*width:90%;*/
}
.sign_up .liuzi_shop .checkbox{
	position: relative;
    bottom: 0.15rem;
    left: 0.38rem;
}
.liuzi_shop p{
	/*width:90%;*/
	color: #d71d0d;
	font-size: 1.2rem;
	padding-left: 0.5rem;
}
.liuzi_shop p a{
	display: inline-block;
}

.liuzi .imfo_icon5{
	background: url(../img/imfo_icon8.png) center no-repeat;
	background-size: 2rem;
	position: absolute;
	left: -14%;	
}
.liuzi .location{
	position: absolute;
	bottom: 6rem;
	left: 50%;
	-webkit-transform: translate(-50%,70%);
	-moz-transform: translate(-50%,70%);
	-ms-transform: translate(-50%,70%);
	-o-transform: translate(-50%,70%);
	transform: translate(-50%,70%);
}


/*第九部分*/
.go_home{
	/*margin-top: 31%;*/
	margin-top: 14rem;
    /*padding-bottom: 4%;*/
    margin-bottom: 3rem;
}
.go_home img{
	margin: auto;
	width: 4%;
	padding-bottom: 1rem;
}
.go_home p{
	font-size: 1.3rem;
	font-weight: bold;
}
.red_iframe{
	width: 20%;
	margin: auto;
	height: 0.75rem;
	border-bottom: 0.2rem solid #d41507;
}

.menu_1{
	position: fixed;
    right: 1%;
    top: -5.8%;
    z-index: 2;
    width: 17%;
}
.menuall{
	position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    background: rgba(0,0,0,0.8);
    width:100%;
    height: 100%;
    display: none;
}
.menuall .menubg{
	background: url(../img/menu_bg.png) repeat;
	width: 50%;
    height: 100%;
    float: right;
    border-left: 1px solid #5b090f;
    position: relative;
}
.menuall .menubg .menu{
	width: 83%;
    height: 88%;
    position: relative;
    display: INLINE-BLOCK;
    margin-top: 5rem;
}
.menuall .menubg .menu .menu_z{
	position: absolute;
    right: 0;
    width: 5%;
}
.menuall .menubg .menu .menu_y{
	display: inline-block;
    position: relative;
    width: 100%;
    padding-right: 2rem;
}
.menuall .menubg .menu .menu_y span{
	display: inline-block;
    width: 100%;
    text-align: right;
    color: #ff171f;
    font-size: 1.2rem;
    font-weight: bold;
}
.menuall .menubg .menu .menu_y span.tit{
	font-size: 1.6rem;
    color: #fff;
}
.menuall .menubg .menu .homepage{
	padding-top: 9rem;
}
.menuall .menubg .menu .activity{
	padding-top: 10rem;
}
.menuall .menubg .menu .challenge{
	padding-top: 10rem;
}
.hide{
	display:none;
}
